@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;100;300;500;700;900&display=swap');

body{
  font-family: 'Maven Pro', sans-serif;
}
.body{
  background-image: url(../images/imagemFundo.jpg);
}

.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4,#c13584,#fd1d1d);
}
